# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.db
*.sqlite3
.venv/
venv/
.pytest_cache/
.mypy_cache/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example
!**/.env.example

# ==========================
# Node.js
# ==========================
node_modules/
.next/
out/
dist/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build
# ==========================
build/

# ==========================
# IDE
# ==========================
.idea/